<div class="container mt-4">
    <h2>User Management</h2>
    <div class="mb-3">
        <label for="newUsername" class="form-label">Username:</label>
        <input type="text" class="form-control" id="newUsername" placeholder="Enter username">
    </div>
    <div class="mb-3">
        <label for="newUser" class="form-label">User:</label>
        <input type="text" class="form-control" id="newUser" placeholder="Enter user">
    </div>
    <div class="mb-3">
        <label for="newEmail" class="form-label">Email:</label>
        <input type="email" class="form-control" id="newEmail" placeholder="Enter email">
    </div>
    <div class="mb-3">
        <label for="newID" class="form-label">Id:</label>
        <input type="text" class="form-control" id="newID" placeholder="Enter Id">
    </div>
    <button id="addUserButton" type="button" class="btn btn-primary">Add User</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody id="tbody-user">
    </tbody>
</table>